<?xml version="1.0"?>
<launch>
    <!-- PX4 sim -->
    <include file="$(find px4_cmd)/launch/sim_fix.launch">
        <arg name="vehicle" value="plane"/>
        <arg name="cam" value="_cam"/>
    </include>
    
    <!-- Video Recieve -->
    <include file="$(find px4_cmd)/launch/video.launch">
        <arg name="camera_topic" value="/plane/usb_cam/image_raw"/>
        <arg name="video_show" value="true"/>
    </include>
</launch>
